<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gmf_relational_model -->
      <package
            uri="http://gmf_relational_model/1.0"
            class="gmf_relational_model.gmf_relational_model.Gmf_relational_modelPackage"
            genModel="model/gmf_relational_model.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocconstraints.xml">
      </toc>
   </extension>

</plugin>
